<!--<div class="well text-center">
    <!--<h1><span class="head font-effect-fire-animation">Friday on Fire</span></h1>-->
    <!--<a href="#/ideainsert">
        <p class="help pull-right" style="margin-top:-100px;">Had an Idea..?
           </p>
     </a>-->
        <!--</div>-->
         <div class="row">
             <div class="col-md-5 col-md-offset-1">
                 <a class="btn btn-primary gap"  href="#/dumbshell/dumb">Dumb Shell Arts</a>
             </div>
             <div class="col-md-5">
                 <a class="btn btn-primary gap"  href="#/">Human Knot</a>
             </div>
         </div>

         <div class="row">
             <div class="col-md-5 col-md-offset-1">
                 <iframe width="500" height="315"  src="https://www.youtube.com/embed/5k046eyTqjo" frameborder="0" allowfullscreen></iframe>
              </div>
             <div class="col-md-5">
                 <iframe width="500" height="315"  src="https://www.youtube.com/embed/2OtLJMYftQo" frameborder="0" allowfullscreen></iframe>
              </div>
         </div>
        <div class="row">
             <div class="col-md-5 col-md-offset-1">
                 <a class="btn btn-primary gap"  href="#/dumbshell/ballon">Ballon Tap</a>
             </div>

         </div>

         <!--<div class="row">
             <div class="col-md-5 col-md-offset-1">
                 <image src="../images/ballons.jpg"></image>
              </div>

         </div>-->
         <style>
             .gap{
                 margin-bottom: 18px;
             }
         </style>
